<!DOCTYPE html>
<html lang="en" ng-app="NoteWrangler">
<head>
    <meta charset="UTF-8">
    <title>Note Wrangler</title>
    <link rel="stylesheet" href="../assets/styles/bootstrap.css">
    <link rel="stylesheet" href="../assets/styles/bootstrap-theme.css">
</head>
<body>
    <h1>Note Wrangler!!</h1>
    <div ng-view class="container-fluid"></div>
</body>

<!-- vendor section -->
<script src="../assets/javascript/vendor/jquery-3.1.0.js"></script>
<script src="../assets/javascript/vendor/angular.js"></script>
<script src="../assets/javascript/vendor/angular-route.js"></script>
<script src="../assets/javascript/vendor/angular-resource.js"></script>

<!-- App -->
<script src="../assets/javascript/app.js"></script>
<script src="../assets/javascript/routes.js"></script>

<!-- Directives -->
<!-- Controllers -->
<script src="../assets/javascript/controller/note-index-controller.js"></script>
<script src="../assets/javascript/controller/note-edit-controller.js"></script>
<script src="../assets/javascript/controller/note-show-controller.js"></script>
<script src="../assets/javascript/controller/note-create-controller.js"></script>

<!-- Services -->
<script src="../assets/javascript/services/note.js"></script>

</html>